.playBox{
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.warpbox {
    width: 30%;
    padding: 0 20px;
    text-align: left;
}
.fSize30{
    font-size: 30px;
}
.fSize50{
    font-size: 50px;
}
.fdCol{
    flex-direction: column;
}
.dFle{
    display: flex;
}
.jusContentC{
    justify-content: center;
}
.txtAlignC{
    text-align: center;
}