<div class="container-fuild">
    <div class="header">
        <app-header></app-header>
        <div class="d-flex justify-content-center align-items-center flex-column h450">
            <div class="d-flex justify-content-around">
                <div class="">
                    <i class="far fa-play-circle text-white fSize30 mt8" aria-hidden="true"></i>
                </div>
                <div class="plr10">
                    <h4 class="text-white fsone9r">About <span class="fColor">Innowell</span></h4>
                    <p class="text-white fs23">Lorem ipsum dolor
                        sit amet consectetur, adipisicing elit. Quia ducimus distinctio blanditiis
                        rerum iste ratione hic rem aliquam animi nemo?</p>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="text-center w-50 pat40">
            <p class="teamPara"> We a team of passionate
                professionals design building and industrial services on sustainable framework empowered by advanced
                techology & analytics.
                <br> <br>
                Innovations form inceptions to implementation customers like us because of our Passion
                Innovativeness and Business ethics.
            </p>
        </div>
    </div>
    <div class="">
        <div class="flex-column d-flex justify-content-center text-center visionBg">
            <h4 class="fColor text-uppercase pat60">Our Vision</h4>
            <p class="visionPara pColor">Innowell aspires to be a
                global leader for innovative solutions to its customers through passionate professionals</p>
        </div>
        <div class="flex-column d-flex text-center" class="missionBg">
            <h4 class="fColor text-uppercase pat60">our mission</h4>
            <div class="d-flex justify-content-around" style="margin: 130px 0;padding: 50px 0;">

                <div style="width: 18%;" *ngFor="let mission of missions;">
                    <i class="{{mission.icon}} text-white fSize50" aria-hidden="true"></i>
                    <h3 class="fColor">{{mission.name}}</h3>
                    <p class="text-white">{{mission.type}}</p>
                </div>

            </div>
        </div>
    </div>
    <div class="">
        <div class="flex-column d-flex justify-content-center text-center">
            <h4 class="fColor pat60">Our Values</h4>
            <div class="d-flex flex-wrap" style="margin-top: 20px;">
                <div class="warpbox" *ngFor="let ourValue of ourValues;">
                    <i class="{{ourValue.icon}} fSize50" aria-hidden="true" style="color: #3182c1;"></i>
                    <h2 class="pColor" >{{ourValue.name}}</h2>
                    <p class="pColor" >{{ourValue.description}}</p>

                </div>
            </div>
        </div>

    </div>
    <div class="footer">
        <app-footer></app-footer>
    </div>
</div>