<div class="container-fuild">
    <div class="border-bottom">
        <div class="container ">
            <div class="d-flex justify-content-between px-5 mt-5">
                <div class="d-flex" style="width:80%">
                    <p class="border-right pr-4 bColor bWidth text-right" style="width: 70%;font-size: 1.3rem;font-weight: 500;">Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Eaque repellendus rem doloremque nostrum,
                        adipisci illum!</p>
                    <div class="" style="margin: 0 30px;">
                        <p><b>Lorem, ipsum.</b></p>
                        <p><b>Lorem, ipsum.</b></p>
                    </div>
                </div>
                <div style="width: 20%;">
                    <button class="btn btn-light" style="        margin: 0 5px;    "><i class="fa fa-map-marker" aria-hidden="true"></i></button>
                    <button class="btn btn-light">Innowell</button>
                </div>
            </div>
            <div class="d-flex justify-content-between px-5">
                <div class="linkDiv">
                    <h5 class="fColor">About us</h5>
                    <ul>
                        <li>About innowell</li>
                        <li>Innowell Leadership</li>
                        <li>Facilities & Delivery Model</li>
                        <li>Corporate Governance</li>
                        <li>CSR</li>
                    </ul>
                </div>
                <div class="linkDiv">
                    <h5 class="fColor">What We Do</h5>
                    <ul>
                        <li>Market segments</li>
                        <li>Services</li>

                    </ul>
                </div>
                <div class="linkDiv">
                    <h5 class="fColor">Our Projects</h5>
                    <ul>
                        <li>Industry Segments</li>
                        <li>Project Details</li>

                    </ul>
                </div>
                <div class="linkDiv">
                    <h5 class="fColor">Careers</h5>
                    <ul>
                        <li>Commitment</li>
                        <li>Culture</li>
                        <li>Work Guidelines</li>
                        <li>Career Opportunities</li>
                        <li>Student Zone</li>
                    </ul>
                </div>
                <div class="linkDiv">
                    <h5 class="fColor">Get in Touch</h5>
                    <ul>
                        <li>Office Location</li>
                        <li>Support Services</li>
                        <li class="d-flex justify-content-between">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container d-flex justify-content-between px-5">
        <div class="">@2017 innowell group reserved.</div>
        <div class="">site designed by lucid design</div>
    </div>
</div>