<nav class="navbar navbar-expand-lg navbar-light ">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav "
            style="display: flex;justify-content: space-between;align-items: center;width: 100%;border-bottom:  1px solid #fff;">
            <li class="nav-item">
                <div class="icon-header border-right  align-items-center d-flex justify-content-between " >
                    <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/about"
                        class="text-white"><i class="fab fa-facebook-f"></i></a>
                    <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/about"
                        class="text-white"><i class="fab fa-twitter"></i></a>
                    <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/about"
                        class="text-white"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link text-uppercase text-white anchorLink text-center" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}" routerLink="/about">ABOUT INNOWELL</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-uppercase text-white anchorLink text-center" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}" routerLink="/people">WHAT WE DO</a>
            </li>
            <li class="nav-item logo">
                <a class="nav-link text-uppercase text-white anchorLink text-center" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}" routerLink="/home"><img
                        src="../../../assets/img/Fwd- Innowell Logos/Icon.png" class="logoBox" alt=""></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-uppercase text-white anchorLink text-center" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}" routerLink="/project">PROJECTS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-uppercase text-white anchorLink text-center" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}" routerLink="">CAREERS</a>
            </li>


            <li class="nav-item">
                <a class="nav-link text-uppercase text-white anchorLink text-center" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}" routerLink="">CONTACT</a>
            </li>
        </ul>
    </div>
</nav>
<!-- <div class="container-fulid headerBox d-flex" style="height: 50px;">
    <div class="icon-header border-right  align-items-center d-flex justify-content-between px-5">
        <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/about" class="text-white"><i class="fab fa-facebook-f"></i></a>
        <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/about" class="text-white"><i class="fab fa-twitter"></i></a>
        <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/about" class="text-white"><i class="fab fa-linkedin-in"></i></a>
    </div>
    <div class="details-header flex-grow-1  align-items-center d-flex justify-content-between px-5">
        <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/about" class="text-uppercase text-white anchorLink">ABOUT INNOWELL</a>
        <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/people" class="text-uppercase text-white anchorLink">WHAT WE DO</a>
        <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/home" class="logo text-uppercase text-white anchorLink bg-primary"><i class="fa fa-map-marker" aria-hidden="true"></i></a>  
        <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/project" class="text-uppercase text-white anchorLink">PROJECTS</a>
        <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="" class="text-uppercase text-white anchorLink">CAREERS</a>
    </div>
    <div class="contact-header border-left  align-items-center d-flex justify-content-between px-5">
        <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/about" class="text-uppercase text-white">CONTACT</a>
    </div>
</div> -->