<div class="container-fulid headerBox d-flex" style="height: 50px;">
    <div class="icon-header border-right border-bottom align-items-center d-flex justify-content-between px-5">
        <a href="#" class="text-white"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="text-white"><i class="fab fa-twitter"></i></a>
        <a href="#" class="text-white"><i class="fab fa-linkedin-in"></i></a>
    </div>
    <div class="details-header flex-grow-1 border-bottom align-items-center d-flex justify-content-between px-5">
        <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/about" class="text-uppercase text-white anchorLink">ABOUT INNOWELL</a>
        <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/people" class="text-uppercase text-white anchorLink">WHAT WE DO</a>
        <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/home" class="logo text-uppercase text-white anchorLink bg-primary"><i class="fa fa-map-marker" aria-hidden="true"></i></a>  
        <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/project" class="text-uppercase text-white anchorLink">PROJECTS</a>
        <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="" class="text-uppercase text-white anchorLink">CAREERS</a>
    </div>
    <div class="contact-header border-left border-bottom align-items-center d-flex justify-content-between px-5">
        <a href="#" class="text-uppercase text-white">CONTACT</a>
      
    </div>
</div>
