.hColor {
    color: #3182c1;
}

.peopleBox {
    width: 33.33%;
    padding: 30px 20px;
    height: 500px;
    box-sizing: border-box;
}
.splUnder,
.hbColor {
    margin-bottom: 2rem;
}
.splUnder::before {
    content: "";
    position: absolute;
    width: 40px;
    border-bottom: 1px solid #f3901d;
    left: 0;
    bottom: -6px;
}
.hbColor::before {
    content: "";
    position: absolute;
    width: 40px;
    left: 0;
    bottom: -6px;
    border-bottom: 1px solid #3182c1;
}
.lineText {
    margin: 0;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.4;
}
