.icon-header a {
    padding: 0 1rem;
}
.linkDiv li {
    list-style: none;
}

.linkDiv ul {
    padding: 0;
}
.fColor {
    color: #f3901d;
}
.bgColor {
    background: #f3901d;
}
.bColor {
    border-color: #f3901d !important;
}
.bWidth {
    border-width: 3px !important;
}

.appDetails {
    width: 60%;
}

.carousel-control-next {
    right: -120px;
}
.carousel-control-prev {
    left: -120px;
}

.appImg {
    background: url("../../../../sample/wetransfer_images_2021-11-04_0547/appolo.png");
    width: 40%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.appVid {
    background: url("../src/assets/img/vid.png");
    width: 40%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.appMap {
    background: url("../src/assets/img/map.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-cells .carousel-cell img,
.carousel-cells .carousel-cell video {
    width: 100%;
    height: 100%;
    position: relative;
}
.carousel-arrow {
    width: 40 px;
    height: 40 px;
    background-color: transparent !important;
    background-repeat: no-repeat;
    background-size: 31 px;
    background-position: 50%;
    border-radius: 0px !important;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    z-index: 10;
    cursor: pointer;
    box-shadow: none !important;
}
.carousel-arrow-next {
    right: -50px !important;
}
.carousel-arrow-prev {
    left: -50px !important;
}
.nav-item {
    width: 180px;
}
.nav-pills .nav-link.active:after {
    width: 100%;
    height: 100%;
}
.header {
    height: 500px;
    background: url("../src/assets/img/headerbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.leadershipBg {
    background: url("../src/assets/img/leaderbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #000;
    background-color: transparent !important;
}
a {
    color: #000 !important;
}
.addressDetails li:first-child {
    color: blue;
}
.logo {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 3px 0;
}
.iconL {
    display: block;
    margin-bottom: 20px;
    font-size: 18px;
}
.iconL::before {
    border: 2px solid;
    border-radius: 100px;
    padding: 10px;
}

.warpbox {
    width: 30%;
    padding: 0 20px;
    text-align: left;
}
.fSize30 {
    font-size: 30px;
}
.fSize50 {
    font-size: 50px;
}
.h450 {
    height: 450px;
}
.mt8 {
    margin-top: 8px;
}
.plr10 {
    padding: 0 10px;
}
.fsone9r {
    font-size: 1.9rem;
}
.fs23 {
    font-size: 23px;
}
.mtb20 {
    margin: 20px 0;
}
.pat5 {
    padding-top: 5px;
}
.w-15 {
    width: 15%;
}
.mal20 {
    margin-left: 20px;
}
.hideSec {
    background: #c1c1c1;
    height: 500px;
    z-index: 1;
}
.showSec {
    right: 30px;
    cursor: pointer;
    top: 30px;
    font-size: 18px;
}
.m72 {
    margin: 70px 20px;
}
.showImg {
    width: 390px;
    height: 390px;
    object-fit: cover;
}
.pat60 {
    padding-top: 60px;
}
.pat40 {
    padding: 40px;
}
.teamPara {
    color: #4f4d4d;
    font-size: 16px;
    padding: 0 120px;
    line-height: 1;
}
.visionBg {
    /* height: 330px; */
    background: #e4e4e4;
}
.missionBg .missText {
    text-align: center;
}

.visionPara {
    font-size: 41px;
    font-weight: 500;
    padding: 0 120px;
}
.missionBg {
    background: url("../../application/src/assets/img/missionbg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}
.pColor {
    color: #4d4d4d;
}
.hColor {
    color: #3182c1;
}

.peopleBox {
    width: 33.33%;
    padding: 30px 20px;
    height: 500px;
    box-sizing: border-box;
}
.splUnder,
.hbColor {
    margin-bottom: 2rem;
}
.splUnder::before {
    content: "";
    position: absolute;
    width: 40px;
    border-bottom: 1px solid #f3901d;
    left: 0;
    bottom: -6px;
}
.hbColor::before {
    content: "";
    position: absolute;
    width: 40px;
    left: 0;
    bottom: -6px;
    border-bottom: 1px solid #3182c1;
}
.lineText {
    margin: 0;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.4;
}

.downloadBtn {
    margin-left: 60px;
    border: none;
    padding: 8px;
    border-radius: 10px;
    color: #fff;
    font-weight: 500;
}
.anchorLink:hover {
    text-decoration: none;
}
.anchorLink:active,
.active {
    background: #f3901d;
    padding: 5px;
    border-radius: 5px;
}
/* .paraSection {
    width: 100% !important;
    height: 280px;
} */
@media (min-width: 576px) {
    .container-fuild {
        background: saddlebrown;
    }
}

@media (min-width: 768px) {
    .container-fuild {
        background: salmon;
    }
}

@media (min-width: 992px) {
    .container-fuild {
        background: sandybrown;
    }
}

@media (min-width: 1200px) {
    .container-fuild {
        background: seagreen;
    }
}

@media (min-width: 1400px) {
    .container-fuild {
        background: seashell;
    }
}
@media (max-width: 575.98px) {
   
    .missionBg .misssection {
        flex-direction: column;
        align-items: center;
        margin: 0px 0 !important;
        padding: 12px 0 !important;
    }
    .missionBg .missbox ,.linkDiv{
        width: 100%;
        text-align: center;
    }
    .valuesSection,.footerSection,.footerBox,.linkSection{
        flex-direction: column;
    }
    .warpbox,.footerBox{
        width: 100% !important;
    }
    .logoSection{
            width: 100% !important;
            align-items: center;
            justify-content: center;
            display: flex;
            margin: 20px 0;
    }
   
   
}
.missbox {
    width: 18%;
}
/*@media (max-width: 767.98px) {
    .container-fuild {
        background: silver;
    }
}

@media (max-width: 991.98px) {
    .container-fuild {
        background: skyblue;
    }
}

@media (max-width: 1199.98px) {
    .container-fuild {
        background: slateblue;
    }
}

@media (max-width: 1399.98px) {
    .container-fuild {
        background: snow;
    }
} */
