.icon-header a {
    padding: 0 1rem;
}
.linkDiv li {
    list-style: none;
}

.linkDiv ul {
    padding: 0;
}
.fColor {
    color: #f3901d;
}
.bgColor {
    background: #f3901d;
}
.bColor {
    border-color: #f3901d !important;
}
.bWidth {
    border-width: 3px !important;
}

.appDetails {
    width: 60%;
}

.carousel-control-next {
    right: 10px;
}
.carousel-control-prev {
    left: 10px;
}

.appImg {
    background: url("./assets/img/appo.jpg");
    width: 40%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.appVid {
    background: url("../src/assets/img/vid.png");
    width: 40%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.appMap {
    background: url("../src/assets/img/map.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-cells .carousel-cell img,
.carousel-cells .carousel-cell video {
    width: 100%;
    height: 100%;
    position: relative;
}
.carousel-arrow {
    width: 40 px;
    height: 40 px;
    background-color: transparent !important;
    background-repeat: no-repeat;
    background-size: 31 px;
    background-position: 50%;
    border-radius: 0px !important;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    z-index: 10;
    cursor: pointer;
    box-shadow: none !important;
}
.carousel-arrow-next {
    right: -50px !important;
}
.carousel-arrow-prev {
    left: -50px !important;
}
carousel {
    width: 75%;
    margin-left: 40px;
}
.nav-item {
    width: 180px;
    /* border-right: 1px solid #fff; */
    height: 35px;
}
.nav-pills .nav-link.active:after {
    width: 100%;
    height: 100%;
}
.fs23 {
    font-size: 16px;
}
.header {
    height: 600px;
    background: url("../src/assets/img/aboutBg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.footer {
    background: url("../src/assets/img/footerbg.jpg");
    height: 290px;
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.leadershipBg {
    background: url("../src/assets/img/leaderbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-height: 750px;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #000;
    background-color: transparent !important;
}
a {
    color: #000 !important;
}
.addressDetails li:first-child {
    color: #4395cd;
}
.logo {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 3px 0;
}
.iconL {
    display: block;
    margin-bottom: 20px;
    font-size: 18px;
}
.iconL::before {
    border: 2px solid;
    border-radius: 100px;
    padding: 10px;
}

.warpbox {
    width: 30%;
    padding: 0 20px;
    text-align: left;
}
.fSize30 {
    font-size: 30px;
}
.fSize50 {
    font-size: 50px;
}
.h450 {
    height: 450px;
    width: 540px;
}
.paraSection {
    /* height: 200px; */
}
.mt8 {
    margin-top: 8px;
}
.plr10 {
    padding: 0 10px;
}
.fsone9r {
    font-size: 1.9rem;
}

.mtb20 {
    margin: 20px 0;
}
.pat5 {
    padding-top: 5px;
}
.w-15 {
    width: 15%;
}
.mal20 {
    margin-left: 20px;
}
.hideSec {
    background: #c1c1c1;
    height: 500px;
    z-index: 1;
}
.showSec {
    right: 30px;
    cursor: pointer;
    top: 30px;
    font-size: 18px;
}
.m72 {
    margin: 70px 20px;
}
.showImg {
    width: 390px;
    height: 390px;
    object-fit: cover;
}
.pat60 {
    padding-top: 60px;
}
.pat40 {
    padding: 40px;
}
.teamPara {
    color: #4f4d4d;
    font-size: 15px;
    padding: 20px 120px;
    line-height: 1;
}
.visionBg {
    /* height: 330px; */
    background: #e4e4e4;
}
.missionBg .missText {
    text-align: center;
}

.visionPara {
    font-size: 41px;
    font-weight: 500;
    padding: 0 120px;
}
.missionBg {
    background: url("./assets/img/bg2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}
.pColor {
    color: #4d4d4d;
}
.hColor {
    color: #3182c1;
}

.peopleBox {
    width: 33.33%;
    padding: 30px 20px;
    height: 500px;
    box-sizing: border-box;
}
.splUnder,
.hbColor {
    margin-bottom: 2rem;
}
.splUnder::before {
    content: "";
    position: absolute;
    width: 40px;
    border-bottom: 1px solid #f3901d;
    left: 0;
    bottom: -6px;
}
.hbColor::before {
    content: "";
    position: absolute;
    width: 40px;
    left: 0;
    bottom: -6px;
    border-bottom: 1px solid #3182c1;
}
.lineText {
    margin: 0;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.4;
}

.downloadBtn {
    margin-left: 60px;
    border: none;
    padding: 8px;
    border-radius: 10px;
    color: #fff;
    font-weight: 500;
}
.anchorLink:hover {
    text-decoration: none;
}

@media (min-width: 576px) {
    .warpbox {
        width: 50% !important;
    }
    .valuesSection {
        flex-direction: row;
    }
    .icon-header {
        border: none !important;
    }

    a.nav-link.text-uppercase.text-white.anchorLink,
    li.nav-item.logo {
        border: none !important;
        padding: 30px 0px;
    }
    .FashionSec {
        height: 800px !important;
    }
    .missionBg .missbox,
    .linkDiv {
        width: 100%;
        text-align: center;
    }

    .footerSection,
    .footerBox,
    .linkSection,
    .peopleSection,
    .directionSec,
    .hideSec {
        flex-direction: column;
    }
    .hideSec {
        align-items: center;
        height: 970px;
    }
    .showImg {
        width: 250px;
        height: 250px;
        object-fit: cover;
    }
    .m72 {
        margin: 10px 20px;
    }

    .footerBox,
    .peopleBox {
        width: 100% !important;
    }

    .logoSection {
        width: 100% !important;
        align-items: center;
        justify-content: center;
        display: flex;
        margin: 20px 0;
    }
    .visionPara {
        font-size: 30px;
    }
    .heroBox {
        flex-direction: column;
        justify-content: flex-start !important;
        display: flex !important;
    }
    .appImg,
    .appMap {
        width: 100% !important;
        min-height: 350px;
    }
    .appDetails,
    .mapDetails {
        width: 100% !important;
    }
    .threeCarousel {
        width: 479px;
    }
    .footer {
        height: 1060px;
    }
    .carousel-cells .carousel-cell img,
    .carousel-cells .carousel-cell video {
        object-fit: contain !important;
    }
    #navbarSupportedContent li.nav-item:first-child,
    #navbarSupportedContent li.nav-item:last-child {
        border: none;
    }
    carousel.threeCarousel.carousel {
        width: 480px;
    }
    #pills-tabContent .carousel-item.active {
        display: flex !important;
        flex-direction: column !important;
    }
}

@media (min-width: 768px) {
    .FashionSec {
        height: 620px !important;
    }
    .footer {
        height: 540px;
    }
    carousel.threeCarousel.carousel {
        width: 670px;
    }
    .footerSection,
    .linkSection {
        flex-direction: row;
    }
    .footerBox {
        width: 80% !important;
    }
    .logoSection {
        width: 25% !important;
        align-items: flex-start;
    }
    .visionPara {
        font-size: 30px;
    }
    .heroBox {
        flex-direction: row;
    }
    .directionSec {
        flex-direction: row;
    }
    .appImg,
    .appMap {
        width: 50% !important;
        min-height: 350px;
    }
    .appDetails,
    .mapDetails,
    .appVid {
        width: 50% !important;
    }
    .carousel-cells .carousel-cell img,
    .carousel-cells .carousel-cell video {
        object-fit: contain !important;
    }
    #navbarSupportedContent li.nav-item:first-child,
    #navbarSupportedContent li.nav-item:last-child {
        border: none;
    }
    #pills-tabContent .carousel-item.active {
        display: flex !important;
        flex-direction: column !important;
    }
}

@media (min-width: 992px) {
    .carousel-cells .carousel-cell img,
    .carousel-cells .carousel-cell video {
        object-fit: contain !important;
    }
    #navbarSupportedContent li.nav-item:last-child {
        border-left: 1px solid #fff;
    }
    #navbarSupportedContent li.nav-item:first-child {
        border-right: 1px solid #fff;
    }
    .warpbox {
        width: 33.33% !important;
    }
    .footer {
        height: 341px;
    }
    .valuesSection {
        flex-direction: row;
    }
    .nav-item {
        width: 150px;
        padding: 0px;
    }
    .peopleSection {
        flex-direction: row;
    }
    .peopleBox {
        width: 33.33% !important;
    }
    .peopleText {
        font-size: 28px;
    }
    .hideSec {
        height: 520px;
    }
    .showImg {
        width: 180px;
        height: 180px;
        object-fit: cover;
    }
    carousel.threeCarousel.carousel {
        width: 915px;
    }
    #pills-tabContent .carousel-item.active {
        display: flex !important;
        flex-direction: column !important;
    }
}

@media (min-width: 1200px) {
    #pills-tabContent .carousel-item.active {
        display: block !important;
    }
    .TabCon {
        flex-direction: column;
    }
    #pills-tab .tabHeight {
        width: 14%;
        height: 220px;
    }
    #pills-tab {
        width: 100% !important;
    }
    #pills-tabContent {
        width: 100% !important;
    }
    li.nav-item.text-center.mt-4.tabHeight:last-child {
        border: none;
    }
    /* .carousel-item{
        flex-direction: row !important;
    } */
    .footer {
        height: 281px;
    }
    .carousel-cells .carousel-cell img,
    .carousel-cells .carousel-cell video {
        object-fit: contain !important;
    }
    #navbarSupportedContent li.nav-item:last-child {
        border-left: 1px solid #fff;
    }
    #navbarSupportedContent li.nav-item:first-child {
        border-right: 1px solid #fff;
    }

    .logo {
        height: 35px;
    }
    .logo .logoBox {
        width: 25px;
        height: 25px;
    }
    .hideSec {
        height: 465px;
    }
    .hideSec {
        flex-direction: row;
    }
    .m72 {
        margin: 70px 20px;
        width: 100%;
    }
    .showImg {
        width: 350px;
        height: 350px;
        object-fit: cover;
    }
    carousel.threeCarousel.carousel {
        width: 1132px;
    }
}

@media (max-width: 575.98px) {
    #pills-tabContent .carousel-item.active {
        display: flex !important;
        flex-direction: column !important;
    }
    carousel.threeCarousel.carousel {
        width: 470px;
    }
    carousel {
        width: 80% !important;
    }
    .carousel-cells .carousel-cell img,
    .carousel-cells .carousel-cell video {
        object-fit: contain !important;
    }
    #navbarSupportedContent li.nav-item:first-child,
    #navbarSupportedContent li.nav-item:last-child {
        border: none;
    }
    .footer {
        height: 1060px;
    }
    .icon-header {
        border: none !important;
    }
    .nav-item {
        border: none;
    }
    a.nav-link.text-uppercase.text-white.anchorLink,
    li.nav-item.logo {
        border: none !important;
        padding: 30px 0px;
    }
    .FashionSec {
        height: 830px !important;
    }
    .missionBg .misssection {
        flex-direction: column;
        align-items: center;
        margin: 0px 0 !important;
        padding: 12px 0 !important;
    }
    .missionBg .missbox,
    .linkDiv {
        width: 100%;
        text-align: center;
    }
    .h450 {
        width: auto;
    }
    .valuesSection,
    .footerSection,
    .footerBox,
    .linkSection,
    .peopleSection,
    .directionSec,
    .hideSec {
        flex-direction: column !important;
    }
    .showImg {
        width: 250px;
        height: 250px;
        object-fit: cover;
    }
    .m72 {
        margin: 10px 20px;
    }
    .warpbox,
    .footerBox,
    .peopleBox {
        width: 100% !important;
    }
    .logoSection {
        width: 100% !important;
        align-items: center;
        justify-content: center;
        display: flex;
        margin: 20px 0;
    }
    .visionPara {
        font-size: 30px;
    }
    .heroBox {
        flex-direction: column;
        justify-content: flex-start !important;
        display: flex !important;
    }
    .appImg,
    .appMap {
        width: 100% !important;
        min-height: 350px;
    }
    .appDetails,
    .mapDetails {
        width: 100% !important;
    }
    .hideSec {
        align-items: center;
        height: 970px;
    }
}
.missbox {
    width: 18%;
}

.container.cusSection {
    height: 200px;
    padding: 30px 0;
}
.width550 {
    width: 550px;
}
a.nav-link.text-uppercase.text-white.anchorLink {
    border-right: 1px solid #dee2e6;
    padding: 0px;
}
li.nav-item.logo {
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    margin: -12px;
}
.logoBox {
    height: 30px;
    width: 30px;
    background: #fff;
    border-radius: 5px;
}

li.nav-item:last-child {
    border-left: 1px solid #fff;
}
li.nav-item:first-child {
    border-right: 1px solid #fff;
}
.anchorLink:active,
.active {
    color: #f3901d !important;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}
li.nav-item.text-center.mt-4.border-right.tabHeight {
    height: 200px;
    width: 300px;
}
li.nav-item.text-center.mt-4.tabHeight {
    height: 200px;
    width: 300px;
}

/* .carousel-item {
    display: flex ;
    flex-direction: column;
} */
